<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "MindTickle test Suite">
    <test name = "Pet API Test">
        <packages>
            <package name = "PetStoreAPITests" />
        </packages>
    </test>
    <test name = "User API Test">
        <packages>
            <package name = "UserAPITests" />
        </packages>
    </test>
</suite>